@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #004A98;
}

.header {
    padding: 2% 0 0 4%;
}

.header__logo {
    width: 10%;
}

main {
    
}

.form__login {
    margin: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
}

.form__login a{
    color: white;
    
}

.form__login__div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__login__label {
    font-size: 1.3rem;
    color: white;
}

.form__login__input {
    padding: 18px;
    width: 250px;
    border-radius: 25px;
    border: none;
}

.form__login__button {
    color: white;
    border: solid 1px white;
    background-color: transparent;
    width: 250px;
    padding: 25px;
    font-size: 0.97rem;
    cursor: pointer;
}

.support__title {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.25rem;
    text-align: center;
}

.selection__container {
    display: flex;
    justify-content: space-around;
    gap: 10%;
    width: 60%;
    margin: auto;
    padding: 10% 0;
}

.selection__container a {
    width: auto;
}

.selection__box {
    border: solid 2px white;
    width: 225px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection__box__label {
    color: white;
    font-size: 1.125rem;
    position: absolute;
    padding-bottom: 190px;
}

.selection__box__icons {
    width: 60%;
}

@media (max-width: 500px) {
    .selection__container {
        flex-direction: column;
        align-items: center;
    }
    .selection__box {
        margin: 10% 0;
    }
}